.contact_container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 72px;
  align-items: center;

  .image_container {
    // background-color: red;
    padding: 0 15px;
    .avtar_image {
      height: auto;
      width: 100%;
      border-radius: 50%;
      //   background-color: red;
    }
  }
  .chat_name_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 10px;
    .contact_name_time_container {
      display: flex;
      .contact_name {
        flex-grow: 1;
        text-align: left;
        font-size: 17px;
        font-weight: normal;
      }
      .last_message_time {
        font-size: 12px;
        margin-top: 3px;
        margin-left: 6px;
        overflow: hidden;
        line-height: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #8696a0;
      }
    }
    .lastMessage_container {
      .last_message {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: rgb(134, 150, 160);
      }
    }
  }
  //   justify-content: center;
}
.contact_container:hover {
  cursor: pointer;
  background-color: #202c33;
}
